.user-center-container {}

.user-center-top {
    height: 50px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid rgb(231, 224, 224);
}

.user-center-bottom {
    height: 500px;
    overflow-y: scroll;
}

.user-center-bottom::-webkit-scrollbar {
    width: 5px;
}

.user-center-bottom::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.user-center-bottom::-webkit-scrollbar-thumb {
    background: #888;
}

.user-center-bottom::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-search-bar-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-search-bar {
    border: solid 0.1px rgb(179, 174, 174);
    width: 300px;
    display: flex;
    padding: 0px 17px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transition: width 0.3s;
}

.user-delete {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: red;
    font-size: 13px;
}

.user-delete:hover {
    background-color: rgb(212, 4, 4);
}

.user-search-bar:focus-within {
    box-shadow: 1px 0.5px 0.5px 0.5px grey;
    width: 350px;
}

.user-search-bar-input {
    font-size: 15px;
    width: 100%;
    border: none;
    margin-left: 5px;
    height: 40px;
}

.user-search-bar-input:focus {
    outline: none;
}

.user-center-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    text-align: left;
    font-size: 17px;
}

.user-table-header {
    background-color: #0865fe;
}

.user-table-header th {
    color: white;
    border: 0.2px solid #0865fe;
    padding: 10px;
}

.user-table-row {
    cursor: pointer;
}

.user-table-row td {
    padding: 12px 10px;
}

.user-table-row:hover {
    background-color: #edf0f5;
}

.user-table-checkbox {
    width: 18px;
    height: 18px;
}

.user-add-new {
    border: 1px solid rgb(219, 201, 201);
    padding: 10px 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0865fe;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
    font-size: 15px;
}

.user-add-new:hover {
    background-color: #0749b3;
}

.user-option:hover {
    border-radius: 10px;
    border-bottom: 1px solid rgb(175, 155, 155);
    border-right: 1px solid rgb(226, 217, 217);
}

.user-popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
    width: 100px;
    padding: 5px;
}

.user-popup-option {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
}

.user-popup-option:hover {
    border-bottom: 0.1px solid rgb(224, 209, 209);
}

.user-table-row-active {
    background-color: #dce4f5 !important;
}
