.staff-sidebar-container {
    box-shadow: 2px 0 5px -2px black;
    background-color: white;
    position: fixed;
    transition: width 1s ;
    width: 250px;
    z-index: 99;
}

.staff-sidebar-container::-webkit-scrollbar {
    display: none;
}

.staff-sidebar-container .staff-sidebar-top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-sidebar-container .staff-sidebar-top .staff-sidebar-logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.staff-sidebar-container hr {
    height: 0;
    border: 0.5px solid #2e2828;
}

.staff-sidebar-container .staff-sidebar-center {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 110px);
}

.staff-sidebar-center::-webkit-scrollbar {
    width: 5px;
}

.staff-sidebar-center::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.staff-sidebar-center::-webkit-scrollbar-thumb {
    background: #888;
}

.staff-sidebar-center::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.staff-sidebar-container .staff-sidebar-center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.staff-sidebar-container .staff-sidebar-center ul .staff-sidebar-title {
    font-size: 10px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
}

.staff-sidebar-container .staff-sidebar-center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 230px;
    border: solid 0.2px white;
}

.staff-sidebar-container .staff-sidebar-center ul li:hover {
    background-color: #f5e6ce69;
}

.staff-sidebar-container .staff-sidebar-center ul li .staff-sidebar-icon {
    font-size: 30px;
    color: rgb(105, 104, 104);
}

.staff-sidebar-container .staff-sidebar-center ul li span {
    font-size: 17px;
    font-weight: 600;
    color: rgb(105, 104, 104);
    margin-left: 10px;
}

.staff-sidebar-container .staff-sidebar-bottom {
    display: flex;
    align-items: center;
    margin: 10px;
}

.staff-sidebar-container .staff-sidebar-bottom .staff-sidebar-colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}

.staff-sidebar-container .staff-sidebar-bottom .staff-sidebar-colorOption:nth-child(1) {
    background-color: whitesmoke;
}

.staff-sidebar-container .staff-sidebar-bottom .staff-sidebar-colorOption:nth-child(2) {
    background-color: #333;
}

.staff-sidebar-container .staff-sidebar-bottom .staff-sidebar-colorOption:nth-child(3) {
    background-color: darkblue;
}

.staff-sidebar-item-active {
    background-color: #f7cb86 !important;
}