.navbar-container {
    height: 60px;
    background-color: #0865fe;
    display: flex;
    position: fixed;
    font-size: 14px;
    color: white;
    width: 100%;
    z-index: 999;
}

.navbar-logo {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    flex: 3;
    cursor: pointer;
}

.navbar-logo-title {
    font-size: 26px;
    font-family: cursive;
    color: white !important;
}

.navbar-center {
    flex: 11;
}

.navbar-helper {
    flex: 3;
    display: flex;
    align-items: center;
}

.navbar-popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
    width: 110px;
    justify-content: center;
    padding: 5px;
}

.navbar-popup-option {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
}

.navbar-popup-option:hover {
    border-bottom: 0.1px solid rgb(224, 209, 209);
}